<div class="about-me-wrapper">
    <div class="title-box">
        <div class="title-top">
            <div class="shadows">
                <span>Ü</span>
                <span>B</span>
                <span>E</span>
                <span>R</span>
            </div>
        </div>
        <div class="title-bottom">
            <div class="shadows">
                <span>_</span>
                <span>M</span>
                <span>I</span>
                <span>C</span>
                <span>H</span>
            </div>
        </div>
    </div>
    <!-- CONTENT PART -->
    <div class="content-box">
        <div class="content-left-wrapper">
            <div class="content-left">
                <div class="content-normal">
                    <p class="plain-text">
                        Wie bereits auf der Landingpage zu lesen ist, lautet mein Name Robin Mühlemann. 
                        Diese Webseite ist das Resultat des EWEB-Moduls und dient als persönliches Portfolio in Form einer Webseite, 
                        auf der weitere Informationen zu meiner Person zu finden sind.
                    </p>
                </div>
            </div>
        </div>
        <div class="content-middle-wrapper">
            <div class="content-middle">
                <div class="content-long">
                    <p class="plain-text">
                        Zurzeit studiere ich Wirtschaftsinformatik in Bern. Vor dem Studium habe ich die Lehre als Informatiker EFZ abgeschlossen. 
                    </p>
                </div>
            </div>
        </div>
        <div class="content-right-wrapper">
            <div class="content-right">
                <div class="content-normal">
                    <p class="plain-text">
                        In meiner Freizeit treffe ich mich gerne mit Freunden auf einen Kaffee in der Stadt. 
                        Leider bin ich nicht mehr so sportlich unterwegs wie vor ein paar Jahren... 
                        Trotzdem findet man mich vor allem im Sommer öfters auf einem Fussballplatz.  
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="image-box">
        <div class="image-left-wrapper">
            <div class="image-left">
                <p class="img-title">NAPOLI_23</p>
                <img src="../../../assets/images/rob_napoli.JPG" alt="placeholder">
            </div>
        </div>
        <div class="image-right-wrapper">
            <div class="image-right">
                <p class="img-title">NAPOLI_23</p>
                <img src="../../../assets/images/rob_napoli.JPG" alt="placeholder">
            </div>
        </div>
    </div>
</div>