<div class="bilder-galerie-wrapper">
    <div class="title-box">
        <div class="title-top">
            <div class="shadows">
                <span>B</span>
                <span>I</span>
                <span>L</span>
                <span>D</span>
                <span>E</span>
                <span>R</span>
            </div>
        </div>
        <div class="title-bottom">
            <div class="shadows">
                <span>_</span>
                <span>G</span>
                <span>A</span>
                <span>L</span>
                <span>E</span>
                <span>R</span>
                <span>I</span>
                <span>E</span>
            </div>
        </div>
    </div>
    <div class="image-box">
        <div class="image-left-wrapper">
            <div class="image-left">
                <p class="image-title">NAPOLI_23</p>
                <img src="../../../assets/images/rob_napoli.JPG" alt="placeholder">
            </div>
            <div class ="image-text-wrapper">
                <p class="plain-text"><span class="date">01.09.2023</span><br>Ferien in Napoli mit Freunden.</p>
            </div>
        </div>
        <div class="image-left-wrapper">
            <div class="image-left">
                <p class="image-title">INTERLAKEN_05</p>
                <img src="../../../assets/images/Interlaken_2005.JPG" alt="placeholder">
            </div> 
            <div class ="image-text-wrapper">
                <p class="plain-text"><span class="date">24.12.2005</span><br>Weihnachtsessen bei meinen Grosseltern.</p>
            </div>
        </div>
        <div class="image-left-wrapper">
            <div class="image-left-landscape">
                <p class="image-title">KITZBUEHEL_05</p>
                <img src="../../../assets/images/kitzbuehl_2005.JPG" alt="placeholder">
            </div>
            <div class ="image-text-wrapper">
                <p class="plain-text"><span class="date">14.03.2005</span><br>Skiferien mit meinen Eltern in Kitzbühel.</p>
            </div>
        </div>
        <div class="image-left-wrapper">
            <div class="image-left-landscape">
                <p class="image-title">EUROPAPARK_03</p>
                <img src="../../../assets/images/Dezember_2003_0004.JPG" alt="placeholder">
            </div> 
            <div class ="image-text-wrapper">
                <p class="plain-text"><span class="date">19.12.2003</span><br>Freude am putschauto fahren im Europapark.</p>
            </div>
        </div>
        <div class="image-left-wrapper">
            <div class="image-left-landscape">
                <p class="image-title">MALLORCA_02</p>
                <img src="../../../assets/images/mallorca_2002.JPG" alt="placeholder">
            </div>
            <div class ="image-text-wrapper">
                <p class="plain-text"><span class="date">01.06.2002</span><br>Am Strand in Mallorca mit meinen Eltern.</p>
            </div>
        </div>
        <div class="image-left-wrapper">
            <div class="image-left-landscape">
                <p class="image-title">TOKIO_02</p>
                <img src="../../../assets/images/tokyo_2002.JPG" alt="placeholder">
            </div> 
            <div class ="image-text-wrapper">
                <p class="plain-text"><span class="date">02.03.2002</span><br>spass mit meinem Grossvater in einem park in tokio</p>
            </div>
        </div>
        <div class="image-left-wrapper">
            <div class="image-left-landscape">
                <p class="image-title">ZUHAUSE_01</p>
                <img src="../../../assets/images/zuhause_2001.JPG" alt="placeholder">
            </div>
            <div class ="image-text-wrapper">
                <p class="plain-text"><span class="date">03.12.2001</span><br>Pflichtbewusst beim Haushalt mitangepackt.</p>
            </div>
        </div>
    </div>
</div>