.bilder-galerie-wrapper{
    margin-left: 20px;
    padding-left: 1vw;
    padding-bottom: 3vw;
    color: #ffffff;
    display: flex;
    font-size: 18px;
    flex-direction: column;
    justify-items: center;
    margin-right: 20px;
    padding-right: 1vw;
}

/* ------------------------------ TITLE BOX ------------------------------ */
.title-box .shadows{
    position: relative;
    text-transform: uppercase;
    color: white;
    text-shadow: -3px 1px 15px #ced0d3;
    letter-spacing: -0.05em;
    font-family: 'Anton', Arial, sans-serif;
    user-select: none;
    text-transform: uppercase;
    font-size: 270px;
    transition: all 0.5s ease-out;
}

.title-box{
    margin-top: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 270px;
    flex-basis: 100%;
}

/* ------------------------------ IMAGE BOX ------------------------------ */

.image-box{
    display: flex;
    flex-direction: column;
    margin-top: 400px;
    gap: 200px;
}

.image-left-wrapper{
    display: flex;
    justify-content: flex-start;
}

.image-right-wrapper{
    display: flex;
    justify-content: flex-end;
}

.image-title{
    font-size: 35px;
    font-family: Anton, Arial, Helvetica, sans-serif;
    letter-spacing: -0.05em;
    text-shadow: -3px 1px 15px #ced0d3;
}

.image-left {
    width: 60%;
}

.image-left img{
    max-width: 60%;
}

.image-right {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    width: 60%;
}

.image-right img{
    width: 60%;
}

/* -- LANDSCAPE -- */

.image-left-landscape {
    width: 80%;
}

.image-left-landscape img{
    max-width: 80%;
}

.image-right-landscape {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    width: 80%;
}

.image-right-landscape img{
    max-width: 80%;
}

/* ------------------------------ MEDIA SCREEN 800px------------------------------ */
@media screen and (max-width: 800px){
    /* ----------- TITLE BOX ----------- */
    .title-box .shadows{
        font-size: 250px;
    }

    .title-box{
        gap: 210px;
        margin-top: 190px;
    }
    
    /* ----------- CONTENT BOX ----------- */
    .content-box .plain-text{
        font-size: 30px;
        line-height: 27px;
    }
    
    .content-box{
        margin-top: 300px;
        gap: 30px;
    }

    /* ----------- IMAGE BOX ----------- */
    

}

/* ------------------------------ MEDIA SCREEN 570px------------------------------ */

@media screen and (max-width: 570px){
    .title-box .shadows{
        font-size: 150px;
    }

    .title-box{
        gap: 120px;
        margin-top: 130px;
    }

    /* ----------- CONTENT BOX ----------- */
    
    .content-box .plain-text{
        font-size: 20px;
        line-height: 17px;
    }
    
    .content-box{
        margin-top: 200px;
        gap: 30px;
    }

    /* ----------- IMAGE BOX ----------- */
}