<div class="bilder-galerie-wrapper">
    <div class="title-box">
        <div class="title-top">
            <div class="shadows">
                <span>B</span>
                <span>I</span>
                <span>L</span>
                <span>D</span>
                <span>E</span>
                <span>R</span>
            </div>
        </div>
        <div class="title-bottom">
            <div class="shadows">
                <span>_</span>
                <span>G</span>
                <span>A</span>
                <span>L</span>
                <span>E</span>
                <span>R</span>
                <span>I</span>
                <span>E</span>
            </div>
        </div>
    </div>
    <div class="image-box">
        <div class="image-left-wrapper">
            <div class="image-left">
                <p class="img-title">NAPOLI_23</p>
                <img src="../../../assets/images/rob_napoli.JPG" alt="placeholder">
            </div>
        </div>
        <div class="image-right-wrapper">
            <div class="image-right">
                <p class="img-title">NAPOLI_23</p>
                <img src="../../../assets/images/rob_napoli.JPG" alt="placeholder">
            </div> 
        </div>
    </div>
</div>