<div class="login-wrapper">
    <div class="title-wrapper">
        <div class="shadows" [routerLink]="'/'">
            <span>R</span>
            <span>O</span>
            <span>B</span>
            <span>I</span>
            <span>N</span>
            <span>_</span>
            <span>M</span>
            <span>Ü</span>
            <span>H</span>
            <span>L</span>
            <span>E</span>
            <span>M</span>
            <span>A</span>
            <span>N</span>
            <span>N</span>
        </div>
    </div>
    <div class="form-wrapper">
        <form class="login-form" name="main" [formGroup]="checkoutForm"><form ></form>
            <label>EMAIL:</label>
            <input type="email" name="email" formControlName="email" placeholder="EMAIL"/>
            <label>PASSWORD:</label>
            <input type="password" name="password" formControlName="password" placeholder="PASSWORD"/>
            <div class="button-wrapper">
                <a class="button b1" (click)="this.login()">LOGIN</a>
            </div>
        </form>
    </div>
</div>
  
  